@tailwind base;
@tailwind components;
@tailwind utilities;

/* BASE STYLES */
main {
  @apply mt-20;
}

/* COMMON STYLES */
.sp {
  @apply py-20;
}

/* TYPOGRAPHY STYLES */
h1 {
  @apply text-6xl font-medium capitalize;
  font-family: 'playfair_display', serif;
}

h2 {
  @apply text-4xl capitalize;
  font-family: 'playfair_display', serif;
}

h3 {
  @apply text-2xl capitalize;
  font-family: 'playfair_display', serif;
}

p {
  @apply text-lg;
}

small {
  @apply text-xs font-bold tracking-widest;
}
